{{!-- This will be the file to add/update/edit habits that the user wants to track --}}
<div class = "row">
    <div class = "col s3 new-habit-spot">
        <h4 class = "center-align">Add A New Habit</h4>

        <form class="form habit-form">
            {{!-- <div class="form-group">
                <label for="habit-cateogry">Category:</label>
                <input class="form-input" type="text" id="habit-category" />
            </div> --}}
            <div class="form-group">
                <label for="new-habit">Habit:</label>
                <input class="input-field new-habit"  type="text"/>
            </div>
             <button class="btn btn-primary btn-post-add" type="submit">Add</button>
        </form>

    {{!-- {{#if habits.length}} --}}
    <div class="habit-list">
        <h4 class="center-align">Active Habits:</h4>
        {{#each habits}}
        <ul class="habit-description">
            <li>{{description}}
            <label class ="right">
                <input type="checkbox" id="{{description}}"/>
                <span>Active</span>
            </label>
            </li>
        </ul>    
        {{/each}}
    </div>
    {{!-- {{/if}} --}}
    </div>


    <div class="col s9 center-align habit-grid">
        <h4>Habit Logging Grid</h4>
    
     <table class= "centered">
        <thead>
          <tr>
              {{#with logs}}
              <th id="{{entry_date}}">{{ format_date (dateSixDay) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateFiveDay) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateFourDay) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateThreeDay) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateTwoDay) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateYesterday) }}</th>
              <th id="{{entry_date}}">{{ format_date (dateNow) }}</th>
              {{/with}}
          </tr>
        </thead>

        <tbody>
        {{#each logs}}
            <form action="#">
            <tr>
                <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-6" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>
                </td>
            <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-5" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>  
                </td>
                <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-4" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>
                </td>
            <td>
                    <label class ="left checkbox">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-3" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label> 
                </td>
                <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-2" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>
                </td>
                <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="-1" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>  
                </td>
                <td>
                    <label class ="left status-box">
                        <input type="checkbox" id="{{id}}" data-habitId="{{habit_id}}" data-day="0" value="Complete"/>
                        <span>{{habit.description}}</span>
                    </label>
                </td>
            </form>     
        {{/each}}
          </tr>
        </tbody>
      </table>
    </div>

</div>

<script src="/js/app.js" > </script>