<div class="row center overview"><h3 class="grey-text">Overview</h3>
  <div class="row center-align card">
    <div class="col l3 m6 s12 card-body">
      <div class="card-content green darken-3 white-text valign-wrapper">
        <div class="card-content green darken-4 icon valign-wrapper">
          <i class="material-icons medium valign">accessibility</i>
        </div>
        <div class="card-content">
          <div class="row">
            <h3 class="card-stats-number">{{habits.length}}</h3>
            <p>Active Habit</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12 card-body">
      <div class="card-content blue darken-3 white-text valign-wrapper">
        <div class="card-content blue darken-4 icon valign-wrapper">
          <i class="material-icons medium valign">mood</i>
        </div>
        <div class="card-content">
          <div class="row">
            <h3 class="card-stats-number">{{LogData.length}}</h3>
            <p>Total Entry</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12 card-body">
      <div class="card-content orange white-text valign-wrapper">
        <div class="card-content orange darken-2 icon valign-wrapper">
          <i class="material-icons medium valign">check</i>
        </div>
        <div class="card-content">
          <div class="row">
            <h3 class="card-stats-number">50</h3>
            <p>Days Track</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col l3 m6 s12 card-body">
      <div class="card-content red white-text valign-wrapper">
        <div class="red darken-2 icon valign-wrapper">
          <i class="material-icons medium valign">mood_bad</i>
        </div>
        <div class="card-content">
          <div class="row">
            <h3 class="card-stats-number">50</h3>
            <p>Days Skipped</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center chart"><h3 class="grey-text">History Log</h3>
  <div class="row center-align card">
    <div class="card-chart">
      <canvas id="barChart"></canvas>
    </div>
  </div>
</div>
<div class="row center chart"><h3 class="grey-text">My Habit Tracker</h3>
  <div class="dashboard-container">
    <div class="block-content">
      {{#each habits}}
        <div class="card">        
            <div class="col s6 ">
              <h5 class="grey-text habit-text">{{description}}</h5>
            </div>
            <div class="col s3 habit-progress">
              {{!-- <div class="habit-bar">
                <div class="habit-track">
                  <span class="status-text">100%</span>
                  <div class="status-fill" style="width:80%"></div>
                </div>
              </div> --}}
               <h5 class="grey-text habit-text">{{status}}</h5>
            </div>
            <div class="col s3 habit-completed">
              {{!-- <div class="habit-progress"><small>100/100</small></div> --}}
              <h5 class="grey-text">{{format_date created_at}}</h5>
            </div>  
        </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="/js/dashboard.js"></script>